{% extends 'base.html.twig' %}

{% block content %}


    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Ajouter Une fiche fournisseur</h1>                            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>Menu</a>
                    </li>
                    <li>
                        <a href="eco-products.html">  fournisseur</a>
                    </li>
                    <li class="active">
                        <strong>Ajouter  Un fournisseur</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Ajouter Un fournisseur </h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    {{ form_start(formtech)}}
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="field-1">Nom Du Machine </label>
                            <span class="desc"></span>
                            <div class="controls">
                                {{form_widget(formtech.nommachine, {'attr': {'placeholder': "La reference De La Machine", 'type':"text",'class':"form-control", 'id':"field-1" }})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="field-1"> Fiche Du machine</label>
                            <span class="desc"></span>
                            <div class="controls">
                                {{form_widget(formtech.fichemachine, {'attr': {'placeholder': "L'image De La Machine", 'type':"file",'class':"form-control", 'id':"field-1" }})}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary">Enregister</button>
                            <button type="button" class="btn">Annuler</button>
                        </div>
                    </div>

                    {{ form_end(formtech)}}
                </div>
            </div>

        </section>
    </div>






{% endblock %}

